.App {
  background: var(--Foreground);
  width: 100vw;
  /*height: 100vh;*/
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 442px;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid grey;
  background-color: var(--Secondary);
}
.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}